In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('D:\\vishal data\\csv file\\Cellphone.csv')
df

,Product_id,Price,Sale,weight,resoloution,ppi,cpu core,cpu freq,internal mem,ram,RearCam,Front_Cam,battery,thickness
0,203,2357,10,135.0,5.20,424,8,1.350,16.0,3.000,13.00,8.0,2610,7.4
1,880,1749,10,125.0,4.00,233,2,1.300,4.0,1.000,3.15,0.0,1700,9.9
2,40,1916,10,110.0,4.70,312,4,1.200,8.0,1.500,13.00,5.0,2000,7.6
3,99,1315,11,118.5,4.00,233,2,1.300,4.0,0.512,3.15,0.0,1400,11.0
4,880,1749,11,125.0,4.00,233,2,1.300,4.0,1.000,3.15,0.0,1700,9.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,1206,3551,4638,178.0,5.46,538,4,1.875,128.0,6.000,12.00,16.0,4080,8.4
157,1296,3211,8016,170.0,5.50,534,4,1.975,128.0,6.000,20.00,8.0,3400,7.9
158,856,3260,8809,150.0,5.50,401,8,2.200,64.0,4.000,20.00,20.0,3000,6.8
159,1296,3211,8946,170.0,5.50,534,4,1.975,128.0,6.000,20.00,8.0,3400,7.9
160,1131,2536,9807,202.0,6.00,367,8,1.500,16.0,3.000,21.50,16.0,2700,8.4

In [4]:
X = df.drop('Price', axis = 1)
y = df['Price']

print(X.shape)
print(y.shape)

(161, 13)
(161,)

In [5]:
from sklearn.model_selection import train_test_split

In [95]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 51)

In [96]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(128, 13)
(128,)
(33, 13)
(33,)

In [97]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(X_train)
X_train = sc.transform(X_train)
X_test = sc.transform(X_test)

In [98]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X_train, y_train)

LinearRegression()

In [99]:
lr.coef_

array([  15.7809684 ,  -49.30446206,  -73.61016163, -108.88131393,
        120.06959979,  121.33109241,   78.03754528,  168.75108557,
        156.07342189,   36.91094814,   50.95548689,  211.29995154,
       -152.12145198])

In [100]:
lr.predict(X_test)

array([ 585.58589088, 1515.98095652, 2726.17320474, 3646.76275055,
       2916.73590252, 3091.96504481, 2273.56707132, 2926.09435283,
       2874.00948426, 2960.18642123, 1426.32481242, 2447.59722448,
       2093.57929074, 3653.69565691, 1768.44261775, 1604.9252663 ,
        327.14670266, 2620.33571004, 1504.96923177, 2263.4232801 ,
       2744.89880794, 1505.08980405, 3202.49611021, 1504.67930416,
       2263.90556923, 2366.60240027, 1343.99994631, 2188.51983833,
       1487.92143813, 1311.67257484, 2094.09172295, 2925.94363747,
        328.65385622])

In [101]:
y_test

125     705
4      1749
13     2744
156    3551
61     2746
31     2977
7      2137
111    2975
10     2438
82     3005
88     1302
14     2580
58     1989
155    3551
145    1921
90     1646
141     628
142    2508
120    1734
134    2266
21     2392
119    1734
73     3116
50     1741
133    2266
118    2054
19     1238
36     1942
85     1396
8      1315
45     1989
112    2975
140     628
Name: Price, dtype: int64

In [102]:
x1 = lr.predict(X_test)

In [103]:
pd.DataFrame([x1, y_test], index = ['predict_price', 'original_price'])

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
predict_price,585.585891,1515.980957,2726.173205,3646.762751,2916.735903,3091.965045,2273.567071,2926.094353,2874.009484,2960.186421,...,1504.679304,2263.905569,2366.6024,1343.999946,2188.519838,1487.921438,1311.672575,2094.091723,2925.943637,328.653856
original_price,705.000000,1749.000000,2744.000000,3551.000000,2746.000000,2977.000000,2137.000000,2975.000000,2438.000000,3005.000000,...,1741.000000,2266.000000,2054.0000,1238.000000,1942.000000,1396.000000,1315.000000,1989.000000,2975.000000,628.000000

In [104]:
lr.score(X_test, y_test)

0.9438554973404409